.status{
    height:100%;
    width:24px;
    float: left;
    
}
.status_icons{
    position: relative;
    top:10%;
    font-size: 150%;
    padding-left: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 720px) {
    .status_icons{
        top:2%;
        font-size: 90%;
        padding-left: 0px;
    }
}
