h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.rcalendar {
  display: flex;
  max-width: inherit;
  max-height: inherit;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  overflow:auto;
}

.rcalendar-sidebar {
  width: auto;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
  overflow-y: auto;
}

.rcalendar-sidebar-section {
  padding: 2em;
}

.rcalendar-main {
  flex-grow: 1;
  
  padding: 3em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
