#terminal{
    background-color:black;
    width:100%;
    height:100%;
    overflow:auto;
}
#terminal .line{
    color:aqua;
    display:flex;
    width:100%;
    flex-direction: row;
}
#terminal .line .directory{
    color:green;
}
#terminal .line .type{
    background-color:transparent;
    border:none;
    color:white;
    width:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}