.left-pane{
 background-color: gray;
 margin-right: 80%;
 margin-bottom: 2.5px;
 margin-top: 2.5px;
 cursor: pointer;
}
.left-pane li{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    margin-right: -50px;
    border-width: 3px;
 border-color: black;
 border-style: solid;
}
.left-pane li:hover{
    background-color: rgb(51, 50, 50);
    border-width: 3px;
 border-color: black;
 border-style: solid;
}
.left-pane:hover{
    background-color: rgb(51, 50, 50);
    color: white;
    border-width: 3px;
 border-color: black;
 border-style: solid;
}
.left-pane-slide{
 background-color: gray;
 margin-right: 80%;
 border-width: 3px;
 border-color: black;
 border-style: solid;
 height:100%;
}