#Explorer {
    user-select: none;
    height:100%;
    position: relative;
    display:flex;
    overflow: hidden;
}

#Explorer .iconStrip{
    width:100%;
    height:30px;
    font-size:100%;
    color:white;
    display: flex;
    
}
#Explorer .iconStrip .icon {
    width:30px;
    height: 30px;
}
#Explorer .iconStrip:hover{
    background-color: blue;
}
#Explorer .iconStrip .icon img {
    max-width:70%;
    max-height: 70%;

}
#Explorer .leftPane{
    border-right: thin solid  #e4e5e8;
    background-color:#f7f7f9;
    flex:0 0 100px;
}
#Explorer .rightPane{
    flex-grow:1;
    vertical-align: top;
    display:flex;
    flex-wrap: wrap;
    overflow-y:auto;
    
}
#Explorer .iconHolder
{
    display:flex;
    flex:0 0 100px;
    padding:20px;
    flex-direction: column;
}
#Explorer .iconHolder:hover
{
    background-color:blue;
    opacity:0.8;
}
#Explorer .iconHolder img{
    width:50px;
    height:50px;
}
.button_cont_explorer{
    height:30px;
    position: relative;
    display:flex;
    user-select: none;
}
.button_cont_explorer_button{
    border-radius:2px;
    height:30px;
    width:30px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin:auto;
    text-align: center;
    font-size:26px;
}
.back_button:hover{
    background-color: blue;
}
.back_button:hover>.back_mark{
    color:white;
}
.back_mark{
    color:blue;
    transition-duration: 0.4s;
}
