.menu-bar{
    margin-left: -20px;
    margin-top: -30px;
    margin-right: 4%;
    background-color: gray;
}
.menu-bar input{
    background-color: white;
    height: 20px;
}
.menu-bar button{
    background-color: rgba(179, 57, 179, 0.705);
    margin-left: 10px;
    color:white;
    border-width: 0px 0px 0px 0px;
    padding: 3px 3px 3px 3px;
}
.icon-and-name img{
    height: 35%;
    width: 35%;
    margin-left: 50px;
}
.icon-and-name li{
    margin-left: -30px;
    padding-right: 50px;
}
.icon-and-name p{
    margin-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon-and-name:hover{
    background-color: rgba(127, 244, 255, 0.197);
}
.file-list{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: -380px;
    list-style: none;
}
.create-button{
    background-color: blueviolet;
    color: wheat;
    padding: 4px 4px 4px 4px;
    border-color: gray;
}
.delete-button{
    background-color: blueviolet;
    color: wheat;
    border-color: gray;
    padding: 4px 4px 4px 4px;
}
.tree{
    background-color: rgba(128, 128, 128, 0.541);
    border-style: solid;
    margin-left: -20px;
    margin-right: 80%;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: black;
    padding-bottom: 49%;
    height: 95%;
}
.files{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.65);
    list-style: none;
    padding-left: 10px;
}
.files:hover{
    background-color: rgba(0, 0, 0, 0.479);
    color: rgb(208, 220, 231);
}