*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body{
    overflow: hidden;
}
#desktop{
    overflow: hidden;
    height:100vh;
    
    /*background-image: url('../assests/bgtest.jpg')*/
}
